body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    background-color: #000;
    background-image: url(../img/bg.gif);
  }

  main {
    flex: 1 0 auto;
  }
  
.bold{
    font-weight: 700;
}
