#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

html {
  background: linear-gradient(0deg, rgb(0, 48, 7, 0.8), rgba(0, 48, 7, 0.8)), url(../assets/bg.webp);
}

h1{
  font-family: 'Special Elite', cursive;
}