.navbar-brand {
  font-family: "Yatra One", cursive;
  color: #000000 !important;
}

#navbar-status {
  color: #000000 !important;
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #ff8f00 !important;
}

.card-title {
  font-family: "Yatra One", cursive;
  font-weight: 800;
  color: #ff9800 !important;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #ffffff !important;
  font-weight: 400;
  margin: 10px;
}
